# Ignore environment files
.env

# Byte-compiled / optimized / DLL files
__pycache__/

# Virtual environments
venv/
env/
ENV/
.venv/
pip-wheel-metadata/
.venv/
.vscode/

# IDE files
.idea/
.vscode/

# Compiled Python files
*.pyc

# macOS
.DS_Store

# Windows
Thumbs.db

# sqlite db
*/*.db